{% extends 'base.html.twig' %}

{% block title %}Feedback
{% endblock %}

{% block body %}
	<div class="flex justify-center mt-32">
		<h1 class="text-center text-4xl font-bold text-indigo-600 font-sans leading-9 tracking-tight">
			Vos retours
		</h1>
	</div>
{% endblock %}
